<div class="fiche_fournisseur">
  <%= link_to 'retour', root_path, class: "btn btn-success"%>
  <br>
  <br>
   <%= simple_form_for [ @fournisseur, @justificatif ] do |f| %>
      <%= f.input :justif, label: 'Téléchager mon RIB', as: :file %>
      <%= f.submit "Enregistrer", class: 'btn btn-primary' %>
   <% end %>
</div>
