<p>Bonjour <%= @selection.fournisseur.firstname %>,</p>
<br>
<p>Vous trouverez en pièce jointe le récapitulatif des ventes de votre sélection n°<%= @selection.id %> déposée le <%= @selection.date %>.</p>
<br>
<p>A ce jour, le montant de votre commission s'élève à <%= @selection.gain %>€.</p>
<br>
<p>Nous restons à votre disposition.</p>
<br>
<h3>l'équipe de Graîne de Mômes</h3>
<p>bonjour@grainedemomes.com</p>
<br>
<img src="../assets/images/logo.png" style="height: 100px; width: 200px;">
