.dashboard {
  color: white;
  margin: 32px 32px 0px 32px;
  table {border: 2px solid black;}
  tr, td {border: 1px solid black;}
  td {
    min-width: 200px;
    text-align: center;
  }
}

.products_table {
  font-size: 12px;
  margin: 32px;
  table {border: 2px solid black;}
  tr, td {border: 1px solid black;}
  td {
    min-width: 75px;
    text-align: center;
  }
  a { text-decoration: none; color: black;}
}

#product-bg {
  color: white;
  font-weight: bolder;
  height: 32px;
  background: #ED4264;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table-selections{
  margin: 32px 32px 0px 32px;
  table {border: 2px solid white; background-color: #a27efb; color: white;}
  tr, td {border: 1px solid white;}
  td {
    min-width: 160px;
    text-align: center;
    padding: 12px;
  }
  i {
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }
}

.table-selections-2{
  width: 70%;
  margin-top: 32px;
  table {border: 2px solid white; background-color: rgba(55, 55, 55, 0.2); color: white;}
  tr, td {border: 1px solid white;}
  td {
    min-width: 160px;
    text-align: center;
    padding: 12px;
  }
  i {
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }
}

#product-details-vendu{
  background-color: #FFD700;
}

#product-details{
  &:hover {
    background-color: #F28123;
    color: white;
    font-weight: bolder;
  }
}

#td-no-border {
  border-top: none;
  border-right : none;
  border-bottom: none;
}

#red {
  color: red;
}

#green {
  color: green;
}

@media (max-width: 900px) {
  .table-selections-2{
    font-size: 12px;
    // width: 70%;
    // margin-top: 32px;
    // table {border: 2px solid white; background-color: rgba(55, 55, 55, 0.2); color: white;}
    // tr, td {border: 1px solid white;}
    td {
      max-width: 120px;
      text-align: center;
      padding: 8px;
    }
    i {
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }
  }
}

@media (max-width: 900px) {
  #responsivity {
    display: none;
  }
}
