.etiquettes {
  display: grid;
  font-weight: bolder;
  width: 100%;
  table {width: 100%;}
  // tr { max-height: 10vh;}
  td {width: 33%; margin-right: 16px;}
}

.etiquette {
  height: 10vh;
  text-align: center;
  justify-content: flex-start;
  padding: 16px;
  // margin: 24px;
  // margin-right: 32px;
  position: relative;
  img {
    position: absolute;
    top: 56px;
    left: 6px;
    width: 50px;
    height: 40px;
  }
}
