.etiquettes {
  font-weight: bolder;
  width: 100%;
  margin-top: 57px;
  tr {width: 33%;}
}

.etiquette {
  position: relative;
  text-align: center;
  min-height: 132px;
  padding: 24px 12px 24px 12px;
  img {
    position: absolute;
    top: 56px;
    left: 6px;
    width: 50px;
    height: 40px;
  }
}
