<div class="container mt-5">
  <%= link_to 'retour à la sélection', selection_path(@product.selection), class: "btn btn-success"%>
   <div class="container form-container">
     <%= simple_form_for(@product) do |f| %>
      <p>Modifiez le prix TTC de ce produit</p>
       <div class="form-top">
         <%= f.number_field :price_cents, label: "Quelle somme en cents ? ex : pour 10 €, taper 1000 (NB >> on va essayer de modifier en €)", placeholder: 0%>
       </div>
       <div class="btn btn-primary">
        <%= f.submit "Soumettre", class: 'btn btn-contact'%>
       </div>
     <% end %>
   </div>
</div>
